/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2rem;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- end reset --- */

/* basic typographic styles */

b, strong { font-weight: bold }
i, em { font-style: italic }


@font-face {
    font-family: 'Alegreya';
    src: url('/fonts/Alegreya-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/fonts/Alegreya-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/fonts/Alegreya-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('/fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('/fonts/AlegreyaSans-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('/fonts/AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: bold;
}


header {
    text-align: center;
}

#hero {
    max-width: 20%;
}

body {
    font-family: 'Alegreya', serif;
    color: #606060;
    padding: 2rem;
    line-height: 1.2;

    max-height: 100%;
    max-width: 45rem;
    margin: auto;
}

a {
    text-decoration-style: dotted;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'AlegreyaSans', sans-serif;
    font-weight: bold;
}

h1 a:link {
    text-decoration: none;
    font-weight: 300;
}

h1 a:link, h1 a:visited {
    color: #9c4040;
}

h3 {
    color: #9c4040;
}

a:link, a:visited {
    color: #606060;
}

#image > img {
    object-fit: cover;
    width: 100%;
}


/* mobile layout */

header h2 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-style: italic;
}

header {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.5rem;
}

nav {
    margin: 0.5rem 0;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

nav ul li {
    display: inline;
    padding-right: 1rem;
    white-space: nowrap;
}

nav ul li.selected {
    text-decoration: none;
    font-weight: bold;
}

nav ul li.selected a, nav ul li.selected a:visited {
    color: #9c4040;
}

nav ul.secondary {
    font-size: small;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    font-variant: all-small-caps;
    letter-spacing: 0.05rem;
}

nav ul.secondary li a {
    color: #202020;
}

nav ul.secondary li::after {
    content: "\2193";
    /* padding-left: 0.5rem; */
}

nav ul li:last-child {
    padding-right: 0;
}

main p {
    margin-bottom: 1rem;
}

main ul {
    margin-left: 1rem;
    list-style-type: circle;
}

footer {
    border-top: 1px solid #dddddd;
    padding-top: 0.5rem;
    margin-top: 5rem;
    font-size: x-small;
}

#front footer {
    margin-top: 1rem;
}

h3 {
    font-size: x-large;
    font-variant: all-small-caps;
    letter-spacing: 0.06rem;
    margin: 2rem 0 0.5rem 0;
}

tr {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}

tr td {
    padding: 0.25rem 0.5rem 0.25rem 0;
}

td.show {
    font-style: italic;
}

section#content table {
    width: 100%;
    table-layout: fixed;
}

section#content ul li {
    margin: 0.5rem 0 0.5rem 0;
}

/* frontpage + desktop layout */

@media only screen and (min-width: 40rem)  {

}
